{% extends "base.html" %}

{% block content %}

<!-- ciclo id at $id -->

<div class="row">
    <h1> Ciclo {{ cicle }} </h1>

    <a href="/new_day/{{ cicle }}" class="btn btn-primary"> Afegir dia </a>

    {% for day in days %}
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div class="">
            <h1 class="text-start"> {{ day.date }} </h1>

                {% for sample in samples %}
                    {% if sample.day_id == day.id %}
                        
                        <div class="card text-center">
                            <div class="card-body">
                                <img src="../static/upload/{{ sample.filename }}" class="card-img-top" alt="...">
                                <p class="card-text"> Score: {{ sample.score }} </p>
                                <p class="card-text"> Percentage: {{ sample.percentage }} </p>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}


</div>


{% endblock %}
