{% extends "base.html" %}

{% block content %}

<h1> New day to cicle {{ cicle_id }}</h1>
<hr>

<div>
    <form class="m-3" action="/create_day" method="post" enctype="multipart/form-data">
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label for="cicle_id">Cicle</label><br/>
                <input type="number" id="cicle_id" name="cicle_id" value="{{ cicle_id }}" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="date">Date</label><br/>
                <input type="date" id="date" name="date" placeholder="Password">
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="uploadFile">Picture</label>
            <input type="file" class="form-control" id="file" name="file">
        </div>
        <div class="form-group mb-3">
            <!-- check if is the last day -->
            <input type="checkbox" class="form-check-input" id="last_day" name="last_day" value="1">
            <label class="form-check-label" for="last_day">Last day</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
