{% extends "base.html" %}

{% block content %}

<h1> New day to cicle {{ cicle_id }}</h1>
<hr>

<div>
    <form class="m-3" action="/create_day">
        <div class="form-row mb-2">
            <div class="form-group col-md-6">
                <label for="cicle_id">Cicle</label><br/>
                <input type="cicle_id" id="number" value="{{ cicle_id }}" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="date">Date</label><br/>
                <input type="date" id="date" placeholder="Password">
            </div>
        </div>
        <div class="form-row col-md-6 mb-3">
            <label for="uploadFile">Picture</label>
            <input type="file" class="form-control" id="file" name="file" hx-encoding="multipart/form-data">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
